@import "bootstrap-sprockets";
@import "bootstrap";


.card {
  background-color: #fff;
}

.header {
  background-color: #338bf8;
  color: #fff;
  font-size: 14px;
  a {
    color: #fff;
  }
}

.contents {
  background-color: #faf9ff;
  box-sizing: border-box;
}

.page-title {
  font-size: x-large;
  font-weight: normal;
  padding: 20px 20px;
}

.user-machines-show {
  display: table;
  margin: 20px auto;
  padding: 20px 20px;
  width: 800px;
  .left {
    float: left;
    border: 0.5px solid #ccc;
    width: 200px;
    margin: 20px 20px;

    img {
      display: block;
      margin: auto;
      padding: 5px;
    }

  }
  .right {
    float: left;
    width: auto;
  }
  .submit-btn {
    width: 288px;
    height: 48px;
    border-radius: 24px;
    background-color: #338bf8;
    color: #ffffff;
  }
}
